# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/

# Backend
backend/node_modules/
backend/build/
backend/dist/

# Environment Files
frontend/.env*
backend/.env*

# Logs
*.log
logs/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/
!backend/uploads/.gitkeep